#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
#cboxOverlay{position:fixed;width:100%;height:100%;background:url(images/overlay.png);}
#cboxMiddleLeft,#cboxBottomLeft{clear:left;}
#cboxContent{position:relative;overflow:hidden;background:#fff;}
#cboxLoadedContent{overflow:auto;margin-bottom:28px;}
#cboxLoadedContent iframe{display:block;width:100%;height:100%;border:0;}
#cboxTitle{position:absolute;bottom:4px;left:0;text-align:center;width:100%;color:#949494;margin:0;}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer;}
#colorbox{font:12px Tahoma, Arial,sans-serif;}
#cboxTopLeft{width:21px;height:21px;background:-100px url(images/controls.png) 0 no-repeat;}
#cboxTopRight{width:21px;height:21px;background:-129px url(images/controls.png) 0 no-repeat;}
#cboxBottomLeft{width:21px;height:21px;background:-100px url(images/controls.png) no-repeat;}
#cboxBottomRight{width:21px;height:21px;background:-129px url(images/controls.png) no-repeat;}
#cboxMiddleLeft{width:21px;background:url(images/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px;background:url(images/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px;background:url(images/border.png) repeat-x;}
#cboxBottomCenter{height:21px;background:-29px url(images/border.png) 0 repeat-x;}
#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#949494;}
#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#0092ef;}
#cboxPrevious{position:absolute;bottom:0;left:0;width:25px;height:25px;text-indent:-9999px;background:-75px url(images/controls.png) 0 no-repeat;}
#cboxPrevious.hover{background:-75px -25px;}
#cboxNext{position:absolute;bottom:0;left:27px;width:25px;height:25px;text-indent:-9999px;background:-50px url(images/controls.png) 0 no-repeat;}
#cboxNext.hover{background:-50px -25px;}
#cboxLoadingOverlay{background:url(images/loading_background.png) center center no-repeat;}
#cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
#cboxClose{position:absolute;bottom:0;right:0;width:25px;height:25px;text-indent:-9999px;background:-25px url(images/controls.png) 0 no-repeat;}
#cboxClose.hover{background:-25px -25px;}